.background{
    background-color:bisque;
}
.form {
    text-align: center;
}
.form input {
    border: 5px solid black;
}
.white {
    background-color: white;
}
.black {
    background-color: black;
}
.block {
    width: 50px;
    height: 50px;
}
.display {
    display: flex;
}
.board {
    display: flex;
    justify-content: center;
    align-items: center;
}
.desk {
    margin-top: 50px;
}
.error {
    color: red;
    font-size: 25px;
}
